.contacts__title {
  color: $color3;
}
.contacts__line {
  margin: 25px 0px 75px 0px;
  background: $color2;
}
.contacts__container {
  @include flex();
  justify-content: space-between;
  column-gap: 198px;
}
.contacts__adress {
  min-width: 282px;
}
.contacts__adress h3 {
  margin: 0px 0px 50px 0px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.contacts__adress p:not(:last-child) {
  margin-bottom: 25px;
}

.contacts__adress p {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}
.contacts__adress p a:hover {
  color: $color3;
}

.contacts__map {
  padding-bottom: 43.06%;
  flex: 1 1 100%;
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: $md2+px) {
  .contacts__line {
    margin: 20px 0px 60px 0px;
  }
  .contacts__container {
    column-gap: 16px;
  }
  .contacts__adress {
    min-width: 274px;
  }
  .contacts__adress h3 {
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 28px;
  }

  .contacts__adress p:not(:last-child) {
    margin-bottom: 15px;
  }

  .contacts__adress p {
    font-size: 20px;
    line-height: 23px;
  }
  .contacts__map {
    padding-bottom: 46.15%;
  }
}

@media (max-width: $md3+px) {
  .contacts__line {
    margin: 20px 0px 40px 0px;
  }
  .contacts__container {
    flex-direction: column;
    column-gap: 0px;
    margin-bottom: 27px;
  }
  .contacts__adress h3 {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 23px;
  }
  .contacts__adress p {
    font-size: 18px;
    line-height: 21px;
  }
  .contacts__adress {
    margin-bottom: 40px;
  }
  .contacts__map {
    padding-bottom: 65.4%;
  }
}
@media (max-width: $md4+px) {
  .contacts__container {
    margin-bottom: 0px;
  }
  .contacts__adress h3 {
    font-size: 16px;
    line-height: 19px;
  }
  .contacts__adress p {
    font-size: 16px;
    line-height: 19px;
  }
  .contacts__map {
    padding-bottom: 65.35%;
  }
} ;
